.sidebar {
    width: 300px;
    height:800px;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 180px;
    height: 57px;
    margin-right: 10px;
  }
  
  .line {
    height: 1px;
    background-color: #ccc;
    flex-grow: 1;
  }
  
  .sidebar-items {
    display: flex;
    flex-direction: column;
  }

  .sidebar-item img{
    width:23px;
    height:23px;
  }

   .sidebar-it img{
    width:23px;
    height:23px;
  }

  span{
    margin-left: 15px;
  }

  .sidebar-it{
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #f5f5f5;
    background-color: rgba(13, 98, 255, 1);
  }
  
  .sidebar-item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    color:rgba(13, 98, 255, 1);

  }
  
  .sidebar-item:hover {
    background-color: #eaeaea;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .sidebar-item span {
    font-size: 14px;
    font-weight: 500;
  }
  